<!DOCTYPE html>
<html lang="en">

<head>
    <title>Free-Time</title>
    <link rel="stylesheet" href="{%'home/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <header class="header">
        <h1 class="logo">Anomus</h1>
        <nav class="nav">
            <ul class="nav_container">
                <li class="nav_items"><a href="#home">home</a></li>
                <li class="nav_items"><a href="#skills">skills</a></li>
                <li class="nav_items"><a href="#education">education</a></li>
                <li class="nav_items"><a href="#exprience">exprience</a></li>
                <li class="nav_items"><a href="#contact">contact</a></li>
                <li class="nav_items"><a href="#about">About-me</a></li>
            </ul>
        </nav>
    </header>
    <main class="main" id="home">
        <img class="pic" src="{%'home/logo.png'%}" alt="">
        <div class="content">
            <div class="intro">Hi, It's <span class="st_anim">Inzamam</span></div>
            <div class="learn">I'm a <span class="st_anim">losser</span></div>
            <div class="abo">I’m the kind of person who always dreams big — from becoming a billionaire to mastering
                AI/ML, hacking, and even growing on Instagram. But honestly, my biggest struggle is execution. I plan a
                lot, but sometimes I get stuck overthinking or distracted. Deep down, I have a strong hunger to prove
                myself, to achieve something bigger than what others expect of me.</div>
            <div class="social">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/mohd-inzamam-9290532b7?utm_source=share_via&utm_content=profile&utm_medium=member_android"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.github.com/hacker-x184/"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.instagram.com/hacker_x184/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <a href="https://www.instagram.com/hacker_x184/" class="dm_me">DM me</a>
            </div>
        </div>
    </main>
</body>

</html>